fortus documentation/RatingWebService/RatingWebService_Version1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.compu-quote.com/RatingWebService/Version1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.compu-quote.com/RatingWebService/Version1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.compu-quote.com/RatingWebService/Version1">
      <s:element name="Quote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QuoteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuoteIterationGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="xmlparam_FortusTransaction">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CQCredentials" type="tns:CQCredentials" />
      <s:complexType name="CQCredentials">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Caller" type="tns:Caller" />
      <s:complexType name="Caller">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Product" type="tns:Product" />
          <s:element minOccurs="1" maxOccurs="1" name="LineOfBusiness" type="tns:LOBType" />
          <s:element minOccurs="1" maxOccurs="1" name="Province" type="tns:Provinces" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="tns:Languages" />
          <s:element minOccurs="1" maxOccurs="1" name="FortusVersion" type="tns:FortusVersionType" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:simpleType name="Product">
        <s:restriction base="s:string">
          <s:enumeration value="ThirdParty_Web" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="LOBType">
        <s:restriction base="s:string">
          <s:enumeration value="AUTO" />
          <s:enumeration value="HAB" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Provinces">
        <s:restriction base="s:string">
          <s:enumeration value="AB" />
          <s:enumeration value="BC" />
          <s:enumeration value="MB" />
          <s:enumeration value="NB" />
          <s:enumeration value="NF" />
          <s:enumeration value="NS" />
          <s:enumeration value="NT" />
          <s:enumeration value="ON" />
          <s:enumeration value="PE" />
          <s:enumeration value="QC" />
          <s:enumeration value="SK" />
          <s:enumeration value="YT" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Languages">
        <s:restriction base="s:string">
          <s:enumeration value="FR" />
          <s:enumeration value="EN" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FortusVersionType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MajorVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinorVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Build" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Deviation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QuoteGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuoteIterationGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QuoteSoapIn">
    <wsdl:part name="parameters" element="tns:Quote" />
  </wsdl:message>
  <wsdl:message name="QuoteSoapOut">
    <wsdl:part name="parameters" element="tns:QuoteResponse" />
  </wsdl:message>
  <wsdl:message name="QuoteCQCredentials">
    <wsdl:part name="CQCredentials" element="tns:CQCredentials" />
  </wsdl:message>
  <wsdl:message name="QuoteCaller">
    <wsdl:part name="Caller" element="tns:Caller" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCQCredentials">
    <wsdl:part name="CQCredentials" element="tns:CQCredentials" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCaller">
    <wsdl:part name="Caller" element="tns:Caller" />
  </wsdl:message>
  <wsdl:portType name="RatingWebServiceSoap">
    <wsdl:operation name="Quote">
      <wsdl:input message="tns:QuoteSoapIn" />
      <wsdl:output message="tns:QuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RatingWebServiceSoap" type="tns:RatingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Quote">
      <soap:operation soapAction="http://www.compu-quote.com/RatingWebService/Version1/Quote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QuoteCQCredentials" part="CQCredentials" use="literal" />
        <soap:header message="tns:QuoteCaller" part="Caller" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.compu-quote.com/RatingWebService/Version1/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthenticateCQCredentials" part="CQCredentials" use="literal" />
        <soap:header message="tns:AuthenticateCaller" part="Caller" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RatingWebServiceSoap12" type="tns:RatingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Quote">
      <soap12:operation soapAction="http://www.compu-quote.com/RatingWebService/Version1/Quote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QuoteCQCredentials" part="CQCredentials" use="literal" />
        <soap12:header message="tns:QuoteCaller" part="Caller" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://www.compu-quote.com/RatingWebService/Version1/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthenticateCQCredentials" part="CQCredentials" use="literal" />
        <soap12:header message="tns:AuthenticateCaller" part="Caller" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RatingWebService">
    <wsdl:port name="RatingWebServiceSoap" binding="tns:RatingWebServiceSoap">
      <soap:address location="https://www1.compu-quote.com/test/RatingWebService/Version1.asmx"/>
    </wsdl:port>
    <wsdl:port name="RatingWebServiceSoap12" binding="tns:RatingWebServiceSoap12">
      <soap12:address location="https://www1.compu-quote.com/test/RatingWebService/Version1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>