fortus documentation/AppliedITVConsumerFacing/AppliedITVConsumerFacingWS.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.compu-quote.com/AppliedITV/Version1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.compu-quote.com/AppliedITV/Version1">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.compu-quote.com/AppliedITV/Version1">
			<s:element name="AddressLookup">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AddressInfo" type="tns:AddressRequest"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AddressRequest">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Address" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="City" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="PostalCode" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Province" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="AddressLookupResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AddressLookupResult" type="tns:AddressResponse"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AddressResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:statusCodes"/>
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResponse">
						<s:complexType>
							<s:sequence>
								<s:any processContents="lax"/>
							</s:sequence>
						</s:complexType>
					</s:element>
					<s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="statusCodes">
				<s:restriction base="s:string">
					<s:enumeration value="SUCCESS"/>
					<s:enumeration value="ERROR"/>
					<s:enumeration value="CQCREDENTIALS"/>
					<s:enumeration value="INVALIDINPUT"/>
					<s:enumeration value="NOTAUTHORIZED"/>
				</s:restriction>
			</s:simpleType>
			<s:element name="CQCredentials" type="tns:CQCredentials"/>
			<s:complexType name="CQCredentials">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="UserName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:element name="Caller" type="tns:Caller"/>
			<s:complexType name="Caller">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Product" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Version" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="QuoteGUID" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:element name="DwellingLookup">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AddressInfo" type="tns:DwellingRequest"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="DwellingRequest">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Address" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="City" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="PostalCode" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Province" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="AddressKey" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="DwellingLookupResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DwellingLookupResult" type="tns:DwellingResponse"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="DwellingResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:statusCodes"/>
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResponse1">
						<s:complexType>
							<s:sequence>
								<s:any processContents="lax"/>
							</s:sequence>
						</s:complexType>
					</s:element>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResponse2">
						<s:complexType>
							<s:sequence>
								<s:any processContents="lax"/>
							</s:sequence>
						</s:complexType>
					</s:element>
					<s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="AddressLookupSoapIn">
		<wsdl:part name="parameters" element="tns:AddressLookup"/>
	</wsdl:message>
	<wsdl:message name="AddressLookupSoapOut">
		<wsdl:part name="parameters" element="tns:AddressLookupResponse"/>
	</wsdl:message>
	<wsdl:message name="AddressLookupCQCredentials">
		<wsdl:part name="CQCredentials" element="tns:CQCredentials"/>
	</wsdl:message>
	<wsdl:message name="AddressLookupCaller">
		<wsdl:part name="Caller" element="tns:Caller"/>
	</wsdl:message>
	<wsdl:message name="DwellingLookupSoapIn">
		<wsdl:part name="parameters" element="tns:DwellingLookup"/>
	</wsdl:message>
	<wsdl:message name="DwellingLookupSoapOut">
		<wsdl:part name="parameters" element="tns:DwellingLookupResponse"/>
	</wsdl:message>
	<wsdl:message name="DwellingLookupCQCredentials">
		<wsdl:part name="CQCredentials" element="tns:CQCredentials"/>
	</wsdl:message>
	<wsdl:message name="DwellingLookupCaller">
		<wsdl:part name="Caller" element="tns:Caller"/>
	</wsdl:message>
	<wsdl:portType name="Version1Soap">
		<wsdl:operation name="AddressLookup">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Calls the ezITVValidation/AddressLookup WebService and returns the result.
			</wsdl:documentation>
			<wsdl:input message="tns:AddressLookupSoapIn"/>
			<wsdl:output message="tns:AddressLookupSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="DwellingLookup">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Calls both the ezITVValidation/AppliedITVConsumerFacing and FUSService/fusWebServiceType WebServices and returns the results.
			</wsdl:documentation>
			<wsdl:input message="tns:DwellingLookupSoapIn"/>
			<wsdl:output message="tns:DwellingLookupSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Version1Soap" type="tns:Version1Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddressLookup">
			<soap:operation soapAction="http://www.compu-quote.com/AppliedITV/Version1/AddressLookup" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:AddressLookupCQCredentials" part="CQCredentials" use="literal"/>
				<soap:header message="tns:AddressLookupCaller" part="Caller" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DwellingLookup">
			<soap:operation soapAction="http://www.compu-quote.com/AppliedITV/Version1/DwellingLookup" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:DwellingLookupCQCredentials" part="CQCredentials" use="literal"/>
				<soap:header message="tns:DwellingLookupCaller" part="Caller" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Version1Soap12" type="tns:Version1Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddressLookup">
			<soap12:operation soapAction="http://www.compu-quote.com/AppliedITV/Version1/AddressLookup" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
				<soap12:header message="tns:AddressLookupCQCredentials" part="CQCredentials" use="literal"/>
				<soap12:header message="tns:AddressLookupCaller" part="Caller" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DwellingLookup">
			<soap12:operation soapAction="http://www.compu-quote.com/AppliedITV/Version1/DwellingLookup" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
				<soap12:header message="tns:DwellingLookupCQCredentials" part="CQCredentials" use="literal"/>
				<soap12:header message="tns:DwellingLookupCaller" part="Caller" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Version1">
		<wsdl:port name="Version1Soap" binding="tns:Version1Soap">
			<soap:address location="https://www1.compu-quote.com/AppliedITVConsumerFacing/Version1.asmx"/>
		</wsdl:port>
		<wsdl:port name="Version1Soap12" binding="tns:Version1Soap12">
			<soap12:address location="https://www1.compu-quote.com/AppliedITVConsumerFacing/Version1.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>