fortus documentation/Leads/LeadsWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.compu-quote.com/EzLeadsWebService/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.compu-quote.com/EzLeadsWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.compu-quote.com/EzLeadsWebService/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RecordFortusLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QuoteGUID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FortusQuote">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="FortusExtended">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordFortusLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecordFortusLeadResult" type="tns:RecordLeadResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecordLeadResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrackingNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:statusCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="statusCodes">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="ERROR" />
          <s:enumeration value="CQCREDENTIALS" />
          <s:enumeration value="INVALIDINPUT" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CQCredentials" type="tns:CQCredentials" />
      <s:complexType name="CQCredentials">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecordFortusLeadSoapIn">
    <wsdl:part name="parameters" element="tns:RecordFortusLead" />
  </wsdl:message>
  <wsdl:message name="RecordFortusLeadSoapOut">
    <wsdl:part name="parameters" element="tns:RecordFortusLeadResponse" />
  </wsdl:message>
  <wsdl:message name="RecordFortusLeadCQCredentials">
    <wsdl:part name="CQCredentials" element="tns:CQCredentials" />
  </wsdl:message>

  <wsdl:portType name="EzLeadsExportServiceSoap">
    <wsdl:operation name="RecordFortusLead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method imports a Fortus quote input XML + a Fortus extended input XML.</wsdl:documentation>
      <wsdl:input message="tns:RecordFortusLeadSoapIn" />
      <wsdl:output message="tns:RecordFortusLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EzLeadsExportServiceSoap" type="tns:EzLeadsExportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordFortusLead">
      <soap:operation soapAction="http://www.compu-quote.com/EzLeadsWebService/RecordFortusLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RecordFortusLeadCQCredentials" part="CQCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EzLeadsExportServiceSoap12" type="tns:EzLeadsExportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordFortusLead">
      <soap12:operation soapAction="http://www.compu-quote.com/EzLeadsWebService/RecordFortusLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RecordFortusLeadCQCredentials" part="CQCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EzLeadsExportService">
    <wsdl:port name="EzLeadsExportServiceSoap" binding="tns:EzLeadsExportServiceSoap">
      <soap:address location="https://www10.compu-quote.com/TEST/ezLeadsWebService/UAT/ezLeadsExportService.asmx" />
    </wsdl:port>
    <wsdl:port name="EzLeadsExportServiceSoap12" binding="tns:EzLeadsExportServiceSoap12">
      <soap12:address location="https://www10.compu-quote.com/TEST/ezLeadsWebService/UAT/ezLeadsExportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>